<link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
<div>
  <!-- Playlist Iframe -->
  <!-- https://www.youtube.com/embed/ VIDEO_ID /videoseries?list=PLAYLIST_ID -->
  <span>
    Playlist
    <input [value]="Playlist" (keyup.enter)="Playlist = $event.target.value;GenerateURL()">
  </span>

  <div id="video-placeholder1">
    <img  class="bottom1" src="https://1.bp.blogspot.com/-IJc3LzR4a8I/XUpbDn095nI/AAAAAAAAn14/CuxD4Bpq7qETjKFkfY_GQXyMngXeK-LawCLcBGAs/s1600/bottom.png"/>

    <div id="player1"></div>

    <img src="https://1.bp.blogspot.com/-VGQJBdRfkqs/XUpbDmdkqBI/AAAAAAAAn10/61UaWi8g84c0bdPQ4jtpdL4YuFWhZWegQCLcBGAs/s1600/core.png"/>
  </div>
  <div id="video-placeholder2">
    <img src="https://1.bp.blogspot.com/-IJc3LzR4a8I/XUpbDn095nI/AAAAAAAAn14/CuxD4Bpq7qETjKFkfY_GQXyMngXeK-LawCLcBGAs/s1600/bottom.png"/>

    <div id="player2"></div>

    <img src="https://1.bp.blogspot.com/-VGQJBdRfkqs/XUpbDmdkqBI/AAAAAAAAn10/61UaWi8g84c0bdPQ4jtpdL4YuFWhZWegQCLcBGAs/s1600/core.png"/>
  </div>



  <button mat-icon-button  class="button next1" (click)="nextVideo1()">
    <mat-icon id="nextIcon1">skip_next</mat-icon>
  </button>
  
  <button mat-icon-button  class="button last1" (click)="previousVideo1()">
    <mat-icon id="lastIcon1">skip_previous</mat-icon>
  </button>

  <button mat-icon-button  class="button random1" (click)="shuffleSet1()">
    <mat-icon [style.color]="shuffle1 ? '#00ff9f' : '#000000'"
              [style.text-shadow]="shuffle1 ? '0px 0px 6px #00ff9f' : '0px 0px 0px #00ff9f'">shuffle</mat-icon>
  </button>
  <button mat-icon-button  class="button loop1" (click)="loopSet1()">
    <mat-icon [style.color]="loop1 ? '#00ff9f' : '#000000'"
              [style.text-shadow]="loop1 ? '0px 0px 6px #00ff9f' : '0px 0px 0px #00ff9f'">repeat</mat-icon>
  </button>

  <button mat-icon-button  id="play-button" class="button play1" (click)="playVideo1()">
    <mat-icon [style.color]="playing1 ? '#00ff9f' : '#000000'"
              [style.text-shadow]="playing1 ? '0px 0px 6px #00ff9f' : '0px 0px 0px #00ff9f'">play_arrow</mat-icon>
  </button>
  <button mat-icon-button  id="pause-button" class="button stop1" (click)="pauseVideo1()">
    <mat-icon [style.color]="!playing1 ? '#00ff9f' : '#000000'"
              [style.text-shadow]="!playing1 ? '0px 0px 6px #00ff9f' : '0px 0px 0px #00ff9f'">pause</mat-icon>
  </button>


  <input type="range" min="1" max="100" [(ngModel)]="time1" class="sliderDutation1" (ngModelChange)="changeCurrentTime1(time1)">
  
  <input type="range" min="1" max="100" [(ngModel)]="volumn1" class="sliderVloumn1" (ngModelChange)="changeVolumn1()">

  <!-- ===================================================================== -->

  <button mat-icon-button  class="button next2" (click)="nextVideo2()">
    <mat-icon id="nextIcon2">skip_next</mat-icon>
  </button>
  
  <button mat-icon-button  class="button last2" (click)="previousVideo2()">
    <mat-icon id="lastIcon2">skip_previous</mat-icon>
  </button>

  <button mat-icon-button  class="button random2" (click)="shuffleSet2()">
    <mat-icon [style.color]="shuffle2 ? '#00ff9f' : '#000000'"
              [style.text-shadow]="shuffle2 ? '0px 0px 6px #00ff9f' : '0px 0px 0px #00ff9f'">shuffle</mat-icon>
  </button>
  <button mat-icon-button  class="button loop2" (click)="loopSet2()">
    <mat-icon [style.color]="loop2 ? '#00ff9f' : '#000000'"
              [style.text-shadow]="loop2 ? '0px 0px 6px #00ff9f' : '0px 0px 0px #00ff9f'">repeat</mat-icon>
  </button>

  <button mat-icon-button  id="play-button" class="button play2" (click)="playVideo2()">
    <mat-icon [style.color]="playing2 ? '#00ff9f' : '#000000'"
              [style.text-shadow]="playing2 ? '0px 0px 6px #00ff9f' : '0px 0px 0px #00ff9f'">play_arrow</mat-icon>
  </button>
  <button mat-icon-button  id="pause-button" class="button stop2" (click)="pauseVideo2()">
    <mat-icon [style.color]="!playing2 ? '#00ff9f' : '#000000'"
              [style.text-shadow]="!playing2 ? '0px 0px 6px #00ff9f' : '0px 0px 0px #00ff9f'">pause</mat-icon>
  </button>


  <input type="range" min="1" max="100" [(ngModel)]="time2" class="sliderDutation2" (ngModelChange)="changeCurrentTime2(time2)">
  
  <input type="range" min="1" max="100" [(ngModel)]="volumn2" class="sliderVloumn2" (ngModelChange)="changeVolumn2()">

</div>